* {
    margin: 0;
    padding: 0; /*Padding é o que fica ao redor começando de cima para a direita */
    box-sizing: border-box;
}

/*HTML*/
:root {
    /*VARIAVEIS CRIADAS POR MMIM*/
    --text-color: white;
    --bg-url: url(Imagens/bg-mobile.jpg);
    --stroke-color: rgba(255, 255, 255, 0.5);
    --surface-color: rgba(255, 255, 255, 0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.02);
    --highlight-color: rgba(255, 255, 255, 0.2);
    --switch-bg-url: url(Imagens/moon-stars.svg);
  }
  
  /*TEMA CLARO*/
  .claro {
    --text-color: black;
    --bg-url: url(Imagens/bg-mobile-light.jpg);
    --stroke-color: rgba(0, 0, 0, 0.5);
    --surface-color: rgba(0, 0, 0, 0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.02);
    --highlight-color: rgba(0, 0, 0, 0.2);
    --switch-bg-url: url(Imagens/sun.svg);
  }
  
  body {
    background: var(--bg-url) no-repeat top center/cover; /*Background é o fundo da pagina, no-repat é para nao repetir*/
    height: 100vh;
  }
  
  body * {
    font-family: "Inter", sans-serif; /*Fonte*/
    color: var(--text-color);
  }
  
  #container {
    width: 100%px; /*Largura*/
    max-width: 588px;
    margin: 56px auto 0px;
    padding: 0 24px;
  }
  
  /*PROFILE*/
  #profile {
    text-align: center; /*Centralizar o texto da pagina*/
    padding: 24px;
  }
  
  #profile img {
    width: 112px;
    margin: auto;
  }
  
  #profile p {
    font-weight: 500;
    line-height: 24px;
    margin-top: 8px;
  }
  
  /*Switch*/
  #switch {
    position: relative; /*O absoluto vai ser relativo a esse elemento*/
    width: 64px;
    margin: 4px auto;
  }
  
  #switch button {
    width: 32px;
    height: 32px;
    background: white var(--switch-bg-url) no-repeat center;
    border: 0;
    border-radius: 50%;
  
    position: absolute; /*Posicionamento absoluto, automaticamente faz uma sobreposição*/
    top: 50%; /*Alimhando o top na vertical*/
    left: 0;
    z-index: 1; /*Z-index é subir andar, nesse caso ele subiu 1 andar para*/
    transform: translateY(
      -50%
    ); /*Eicho x, y, nesse caso ele se posicionou a 50% no eito y da caixa*/
    animation:  slide-back 0.2s;
  }
  
  #switch button:hover {
    outline: 8px solid var(--highlight-color);
  }
  
  .claro #switch button {
    animation: slide-in 0.4s forwards;
  }
  
  #switch span {
    display: block;
    width: 64px;
    height: 24px;
    background: var(--surface-color);
    border: 1.5px solid var(--stroke-color);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 999px;
  }
  
  /*Links*/
  ul {
    list-style: none; /*None é para ocultar, nesse caso ocultar as linhas dos links*/
    display: flex;
    flex-direction: column;
    gap: 16px; /*Comprimento do espaçamento que separa as linhas*/
    padding: 24px 0;
  }
  
  ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
  
    padding: 16px 24px;
  
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    border-radius: 8px; /*Arredondamento das bordas*/
  
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
  
    text-decoration: none;
    font-weight: 500;
  
    transition: background 0.5s;
  }
  
  ul li a:hover {
    /*Hover é para quando o mouse passar em cima*/
    background: var(--surface-color-hover);
    border: 1.5px solid var(--text-color);
  }
  
  /*ICONES*/
  #social-links {
    display: flex;
    justify-content: center;
  
    padding: 24px 0;
    font-size: 24px;
  }
  
  #social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
  
    transition: background 0.3s;
    border-radius: 50%; /*Borda arrendondada perfeita (circulo)*/
  }
  
  #social-links a:hover {
    background: var(--highlight-color);
  }
  
  /*RODAPE*/
  footer {
    padding: 24px 0;
    text-align: center;
    font-size: 14px;
  }
  
  /*media queries */
  @media (min-width: 700px) {
    :root {
      --bg-url: url(Imagens/bg-desktop.jpg);
    }
    .claro {
      --bg-url: url(Imagens/bg-desktop-light.jpg);
    }
  }
  
  @keyframes slide-in {
    from {
      left: 0;
    }
    to {
      left: 50%;
    }
  }
  
  @keyframes slide-back {
    from{
      left: 50%;
    }
    to{
      left: 0;
    }
  }
